{% extends 'base.html' %}
{% block title %}Список новин{% endblock %}
{% block content %}
<h1>Список новин</h1>
{% for news in news_list %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <p class="card-text">{{ news.content|truncatechars:150 }}</p>
            <p class="card-text"><small class="text-muted">Автор: {{ news.author }} | {{ news.created_at|date:"d.m.Y H:i" }}</small></p>
            <a href="{% url 'news:news_detail' news.pk %}" class="btn btn-primary">Читати далі</a>
        </div>
    </div>
{% endfor %}

{% if user.is_authenticated %}
    <a href="{% url 'news:news_create' %}" class="btn btn-success mt-3">Створити новину</a>
{% endif %}
{% endblock %}
